@import "tailwindcss";


@theme inline {
  --color-background: #F9F7F6;
  --color-base: #81623F;
  --color-dark: #1A1A1A;
}

@font-face {
  font-family: Manrope;
  src: url('/Manrope-VariableFont_wght.ttf');
}

* {
  font-family: 'Manrope', sans-serif;
  letter-spacing: -0.5px;
}

body {
  background: #F9F7F6;
  color: #1A1A1A;
}
